<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark">
      <span class="fs-4 text-capitalize">welcome <%= name %></span>
    </div>

    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-primary me-2">Logout</button>
    </div>
  </header>
</div>
