<main class="form-signin">
  <form method="POST" action="/register">
    <h1 class="h3 mb-3 fw-normal">Please Register</h1>

    <div class="form-floating mb-3">
      <input
        type="text"
        name="email"
        class="form-control"
        placeholder="Input Email"
      />
      <label>Email</label>
    </div>

    <div class="form-floating mb-3">
      <input
        type="text"
        name="name"
        class="form-control"
        placeholder="Input Full Name"
      />
      <label>Full Name</label>
    </div>

    <div class="form-floating mb-3">
      <input
        type="password"
        name="password"
        class="form-control"
        placeholder="Input Password Password"
      />
      <label>Password</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">
      Register
    </button>
  </form>
</main>
